
#button-link {
  margin: 0 4rem;
  transition: 1s ;
  box-sizing: content-box;
  color:white;
  min-width: 60px;
  text-align: center;
  padding: 0.2rem 0;
}

#button-link:hover {
  letter-spacing: 2px;
  margin: 0 4rem;
  box-sizing: content-box;
  background: white;
  color: black;
}
